@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}
/* Define keyframe animations */
@keyframes moveFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Container styling */
.image-container {
  position: relative;
  width: 100%; /* Adjust width as needed */
  max-width: 500px; /* Set maximum width */
  height: auto; /* Height auto to maintain aspect ratio */ /* Prevent image overflow */
  margin: auto;
}

/* Image styling */
.image-container img {
  position: absolute; /* Position absolutely within the container */
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center image */
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Adjust how the image covers the container */
}


/* Optional: Add responsiveness for very small screens */
@media (max-width: 640px) {
  .image-container {
    max-width: 300px; /* Adjust as needed */
  }
}

@keyframes moveFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply animations to elements */
.image-animation {
  animation: moveFromLeft 1s ease-out forwards;
}

.text-animation {
  animation: moveFromRight 1s ease-out forwards;
}



@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .font-lora {
    font-family: 'Lora', serif;
  }

  .font-fira-sans-extra-light {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200; /* Extra Light weight */
  }
  

  .text-custom-brown {
    color: #6f4f28;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }

  /* Button styles */
  .button-text-base {
    color: #6f4f28; /* Brownish color */
    transition: color 0.3s ease-in-out; /* Smooth color transition */
    font-family: 'Lora', serif;
  }

  .button-text-base:hover {
    color: #f5f5dc; /* Beige color */
  }

  /* Hover animation for button text */
  .button-text-hover {
    @apply transition-colors duration-300 ease-in-out;
    font-family: 'Lora', serif;
  }

  .fontLora {
    font-family: 'Lora', serif;
  }

  .button-text-hover:hover {
    color: #f5f5dc; /* Beige color */
  }
  
  .font-playfair-display {
    font-family: 'Playfair Display', serif;
  }

  .button-text-base {
    font-family: 'Playfair Display', serif;
  }

  @keyframes bubble1 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes bubble2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes bubble3 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-bubble1 {
    animation: bubble1 3s ease-in-out infinite;
  }
  
  .animate-bubble2 {
    animation: bubble2 4s ease-in-out infinite;
  }
  
  .animate-bubble3 {
    animation: bubble3 4s ease-in-out infinite;
  }
  
  .shadow-lg {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  }

  @keyframes moveUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-move-up {
    animation: moveUp 0.5s ease-out;
  }


}
